h1 {
  font-size: 8em;
  line-height: 1.1;
}

h2 {
  font-size: 1.65em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #32353b;
  color: #F0F0EB;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0.5em;
  box-shadow: 0 0 12px 0px #000000ad;
}
.button:hover, #invite:hover {
  border-color: #00f2ff;
  color: #F0F0EB;
}
.button:focus, .button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#invite {
  border-color: #ffc400;
}

.buttonArea {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2rem;
  }
  .logo {
    height: 13em;
    padding: 0em;
    margin: 0em;
    padding-top: 3rem;
    will-change: filter;
    transition: filter 300ms;
    filter: drop-shadow(0 0 6px #000000ad);
  }
  .logo:hover {
    filter: drop-shadow(0 0 6px #00f2ff);
  }
  .read-the-docs {
    color: #888;
    font-family: 'Inter', sans-serif;
  }
  h1, h2  {
    padding: 0;
    margin: 0;
    filter: drop-shadow(0 0 6px #000000ad);
  }

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  .button {
    background-color: #f9f9f9;
  }
}
